name: Manually Deploy to Heroku

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: 88b4e10f-c15e-42bb-808d-92de01fb8b8f
          heroku_app_name: snax121
          heroku_email: nrrcbez@candassociates.com
          usedocker: true
          docker_heroku_process_type: web
          stack: "container"
          region: "eu"
        env:
          HD_CONFIG_FILE_URL: https://gist.githubusercontent.com/samirrorzone/6a086fe3f71fd055dc392086a23d231f/raw/Config.env
